@media (min-width: 775px) {
  main {
    max-width: 1440px;
  }
  main > div {
    margin-left: 100px;
    margin-right: 79px;
  }
  .container__new-post {
    width: 100%;
    margin-bottom: 40px;
  }
  .container__user--new-post {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #form__new-post {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .input__title,
  .input__commentar {
    width: 100%;
  }

  #form__new-post > div {
    width: 100%;
    text-align: right;
  }

  .box__initial {
    display: flex;
    justify-content: space-between;
    gap: 127px;
    height: 450px;
  }
  .box__user--suggest-users::after {
    display: none;
  }
  .title__suggest-users {
    font-size: var(--font-title-2);
    font-weight: var(--font-weight-title-2);
    line-height: var(--line-height-title-2);
    color: var(--color-grey-1);
    margin-bottom: 60px;
  }

  .list__suggest-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: baseline;
    height: 400px;
  }

  .item__suggest-user {
    display: flex;
    flex-direction: row;
    height: 400px;
  }

  .user__img {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.18);
  }

  .user__name {
    padding-left: 12px;
    padding-bottom: 5px;
    width: 170px;
    font-size: var(--font-title-2);
    color: var(--color-grey-1);
    font-weight: var(--font-weight-title-2);
    line-height: var(--line-height-title-2);
  }

  .user__occupation {
    padding-left: 12px;

    font-size: (--font-text-2);
    color: var(--color-grey-2);
    font-weight: var(--font-weight-text-1);
    line-height: var(--line-height-text-2);
  }
  .div__suggest-user {
    display: flex;
  }

  .container__posts {
    width: 70%;
    padding-bottom: 40px;
  }

  .title__posts {
    font-size: var(--font-title-1);
    color: var(--color-grey-1);
    font-weight: var(--font-weight-title-1);
    line-height: var(--line-height-title-1);
    padding: 20px 0;
  }

  .list__posts {
    width: 95%;
  }

  .box__user--posts {
    display: flex;
  }

  .post__title {
    font-size: var(--font-title-1);
    color: var(--color-grey-1);
    font-weight: var(--font-weight-title-1);
    line-height: var(--line-height-title-1);
    padding: 20px 0;
  }

  .post__commentar {
    font-size: var(--font-text-1);
    color: var(--color-grey-2);
    font-weight: var(--font-weight-text-1);
    line-height: var(--line-height-text-1);
    padding: 20px 0;
  }

  dialog {
    width: 700px;
    margin-top: 100px;
  }

  .modal__container-open-post {
    margin: 15px;
    padding: 0 40px;
    width: 100%;
  }
}
